---
title: About Form I-9 verification
TOCTitle: About Form I-9 verification
ms:assetid: 9e5dae3a-f25c-4b03-8a9e-5325be4f4987
ms:mtpsurl: https://technet.microsoft.com/library/Gg213380(v=AX.60)
ms:contentKeyID: 36058753
ms.date: 04/18/2014
mtps_version: v=AX.60
audience: Application User
ms.search.region: Global
---

# About Form I-9 verification 


_**Applies To:** Microsoft Dynamics AX 2012 R3, Microsoft Dynamics AX 2012 R2, Microsoft Dynamics AX 2012 Feature Pack, Microsoft Dynamics AX 2012_

The Immigration Reform and Control Act (IRCA) requires U.S. employers to verify the employment eligibility status of newly hired employees. This includes U.S. citizens. IRCA makes it unlawful for employers to knowingly hire or continue to use unauthorized workers.

To prove employment eligibility, employees must complete and sign a right to work form, Form I-9. Employers must be able to produce the information upon request of United States Immigration and Customs Enforcement (ICE). Additionally, companies must verify Form I-9 information again within three years of the date when the employee supplied the information.


> [!NOTE]
> <P>For complete guidelines about Form I-9 compliance, see the U.S. Citizenship and Immigration Services web site (www.uscis.gov). Search the site using the keywords <STRONG>Form I-9</STRONG>.</P>



You can collect, electronically store and retrieve, and verify Form I-9 information again from areas of the program that support employment processes. This helps you:

  - Ensure that all members of your workforce are legally authorized to work.

  - Increase efficiency in processing Form I-9 verification information.

  - Improve the accuracy of Form I-9 information.

  - Streamline retrieval of Form I-9 information to make government inspections smoother.

You can use the document management system to upload and save signed Form I-9 documents for each employee.

You can use the Renew Form I-9 alarm list report to determine which employees you must verify Form I-9 information for again. To prepare for a Bureau of Immigration and Customs Enforcement (BICE) inspection, you can use the Form I-9 report to print Form I-9 information for all or selected employees.

## See also

[(USA) Key tasks: Form I-9 verification](usa-key-tasks-form-i-9-verification.md)

  


