---
title: 'Deprecated: (RUS) Financial report validation report'
TOCTitle: (RUS) Financial report validation report
ms:assetid: 42362ba3-7a9d-4eec-a026-13868e1f741d
ms:mtpsurl: https://technet.microsoft.com/en-us/library/Dn507118(v=AX.60)
ms:contentKeyID: 59623207
ms.date: 04/18/2014
mtps_version: v=AX.60
---

# Deprecated: (RUS) Financial report validation report 


_**Applies To:** Microsoft Dynamics AX 2012 R3, Microsoft Dynamics AX 2012 R2_

In Microsoft Dynamics AX 2009, the **Financial report validation** report displays the results of validating a Russian GL report generator (RRG) report that is created by copying an existing report setup.

## Overview

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th><p>Item</p></th>
<th><p>Description</p></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>Reason for deprecation</p></td>
<td><p>The report is being deprecated, because it has limited customer usage. Additionally, the <strong>Report validation results</strong> form lets users view the validation results together with the required details, and also lets users perform any required actions. Therefore, country-specific modifications are not required.</p></td>
</tr>
<tr class="even">
<td><p>Replaced by another feature</p></td>
<td><p>No. The feature is no longer available, and there is no replacement feature.</p></td>
</tr>
<tr class="odd">
<td><p>Modules affected</p></td>
<td><p>General ledger</p></td>
</tr>
<tr class="even">
<td><p>Changes to installation</p></td>
<td><p>This change does not affect application installation.</p></td>
</tr>
<tr class="odd">
<td><p>Changes to upgrade</p></td>
<td><p>This change does not affect application upgrade.</p></td>
</tr>
</tbody>
</table>

  
**Announcements:** To see known issues and recent fixes, use [Issue search](http://go.microsoft.com/fwlink/?linkid=389258) in [Microsoft Dynamics Lifecycle Services](http://go.microsoft.com/fwlink/?linkid=306505) (LCS).

