---
title: (RUS) Print customer acceptance reports
TOCTitle: (RUS) Print customer acceptance reports
ms:assetid: 13d2705e-4134-4cc3-bddd-7b1daa20aaed
ms:mtpsurl: https://technet.microsoft.com/en-us/library/JJ711408(v=AX.60)
ms:contentKeyID: 49387226
ms.date: 04/18/2014
mtps_version: v=AX.60
f1_keywords:
- print
- (RUS)
- Russia
- customer acceptance
audience: Application User
ms.search.region: Russia
---

# (RUS) Print customer acceptance reports 


_**Applies To:** Microsoft Dynamics AX 2012 R3, Microsoft Dynamics AX 2012 R2_

Use this procedure to print customer acceptance reports.

1.  Click **Accounts receivable** \> **Common** \> **Customer invoices** \> **Open customer invoices**.

2.  Select an open customer invoice, and then click the **Invoice** tab.

3.  Click **Print** \> **Range** to open the **Print customer invoice** form.
    

    > [!NOTE]
    > <P>You can also print the acceptance report by clicking <STRONG>View</STRONG> &gt; <STRONG>Acceptance report</STRONG>.</P>



4.  In the **Account type** field, select **Customer account** as the type of account.

5.  In the **From account** and **To account** fields, select the range of customer accounts that the acceptance reports are printed for.

6.  In the **Type of date used** field, select a type of date range for the invoices that are printed on the report.

7.  In the **From date** field, select or enter the first day of the date range.

8.  In the **To date** field, select or enter the last day of the date range.

9.  In the **Print option** field, select **Acceptance report** to print an acceptance report for the customer invoice.

10. Click **OK** to print the customer acceptance report.

## See also

[Open customer invoices (list page)](https://technet.microsoft.com/en-us/library/hh454994\(v=ax.60\))

[Print customer invoice (form)](https://technet.microsoft.com/en-us/library/hh242517\(v=ax.60\))

  


